In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_highest-grossing_films_in_India"
data  = requests.get(url).text 
soup = BeautifulSoup(data,"html.parser")



data = []
rows = soup.find_all('tr')
# Iterate over the rows and extract the cell data
for row in rows:
    cells = row.find_all(['th', 'td'])
    row_data = [cell.get_text(strip=True) for cell in cells]
    data.append(row_data)
#data[0:15]
X=pd.DataFrame(data)
X[0:51]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Rank,Film,Total gross,Primary language(s),Year,Ref,None,None,None,None,None,None,None,None
1,1,Baahubali 2: The Conclusion,"₹1,429 crore",TeluguTamil,2017,[3],None,None,None,None,None,None,None,None
2,2,K.G.F: Chapter 2,"₹1,008 crore",Kannada,2022,[16][17][18],None,None,None,None,None,None,None,None
3,3,RRR,₹944 crore,Telugu,2022,[19],None,None,None,None,None,None,None,None
4,4,Pathaan,₹654.28crore,Hindi,2023,[20],None,None,None,None,None,None,None,None
5,5,Dangal,₹538.03 crore,Hindi,2016,[7],None,None,None,None,None,None,None,None
6,6,Baahubali: The Beginning,₹520 crore,TeluguTamil,2015,[21],None,None,None,None,None,None,None,None
7,7,2.0,₹519.65 crore,Tamil,2018,[22],None,None,None,None,None,None,None,None
8,8,Avatar: The Way of Water,₹484.36crore,English,2022,[15],None,None,None,None,None,None,None,None
9,9,PK,₹473.33 crore,Hindi,2014,[23],None,None,None,None,None,None,None,None
10,10,Bajrangi Bhaijaan,₹444.92 crore,Hindi,2015,[24],None,None,None,None,None,None,None,None
11,11,Avengers: Endgame,₹442.30 crore,English,2019,[25],None,None,None,None,None,None,None,None
12,12,Sanju,₹439.14 crore,Hindi,2018,[26],None,None,None,None,None,None,None,None
13,13,Tiger Zinda Hai,₹434.82crore,Hindi,2017,[27][28],None,None,None,None,None,None,None,None
14,14,Sultan,₹421.25crore,Hindi,2016,[29],None,None,None,None,None,None,None,None
15,15,Padmaavat,₹387.31crore,Hindi,2018,[30],None,None,None,None,None,None,None,None
16,16,War,₹378.18crore,Hindi,2019,[31],None,None,None,None,None,None,None,None
17,17,Dhoom 3,₹372 crore,Hindi,2013,[32],None,None,None,None,None,None,None,None
18,18,Kantara,₹361crore,Kannada,2022,[33],None,None,None,None,None,None,None,None
19,19,Adipurush*,₹340.5crore,TeluguHindi,2023,[34],None,None,None,None,None,None,None,None
20,20,Krrish 3,₹340.17crore,Hindi,2013,[35],None,None,None,None,None,None,None,None
21,21,Saaho,₹339.25crore,TeluguHindi,2019,[36],None,None,None,None,None,None,None,None
22,22,Tanhaji,₹332.8crore,Hindi,2020,[37],None,None,None,None,None,None,None,None
23,23,Kabir Singh,₹331.24crore,Hindi,2019,[38],None,None,None,None,None,None,None,None
24,24,Ponniyin Selvan: I,₹335crore,Tamil,2022,[39],None,None,None,None,None,None,None,None
25,25,Pushpa: The Rise,₹325.45crore,Telugu,2021,[36],None,None,None,None,None,None,None,None
26,26,Kick,₹322.01crore,Hindi,2014,[40],None,None,None,None,None,None,None,None
27,27,Chennai Express,₹315.46crore,Hindi,2013,[41],None,None,None,None,None,None,None,None
28,28,Brahmāstra: Part One – Shiva,₹310crore,Hindi,2022,[42],None,None,None,None,None,None,None,None
29,29,Simmba,₹308.09crore,Hindi,2018,[43],None,None,None,None,None,None,None,None
30,30,Vikram,₹302.50 crore,Tamil,2022,[44],None,None,None,None,None,None,None,None
31,31,The Kashmir Files,₹297.53crore,Hindi,2022,[45],None,None,None,None,None,None,None,None
32,32,Avengers: Infinity War,₹296.50crore,English,2018,[25],None,None,None,None,None,None,None,None
33,33,Prem Ratan Dhan Payo,₹291.89crore,Hindi,2015,[46],None,None,None,None,None,None,None,None
34,34,Uri: The Surgical Strike,₹289.68crore,Hindi,2019,[47],None,None,None,None,None,None,None,None
35,35,The Kerala Story,₹288.33 crore,Hindi,2023,[48],None,None,None,None,None,None,None,None
36,36,Drishyam 2,₹286.36crore,Hindi,2022,[49],None,None,None,None,None,None,None,None
37,37,Happy New Year,₹281.94crore,Hindi,2014,[50],None,None,None,None,None,None,None,None
38,38,3 Idiots,₹281.88crore,Hindi,2009,[51],None,None,None,None,None,None,None,None
39,39,Ek Tha Tiger,₹276.08crore,Hindi,2012,[52],None,None,None,None,None,None,None,None
40,40,Spider-Man: No Way Home,₹263.8crore,English,2021,[a],None,None,None,None,None,None,None,None
41,41,Golmaal Again,₹263.71crore,Hindi,2017,[55],None,None,None,None,None,None,None,None
42,42,Yeh Jawaani Hai Deewani,₹261.90crore,Hindi,2013,[56],None,None,None,None,None,None,None,None
43,43,The Jungle Book,₹258.79crore,English,2016,[b],None,None,None,None,None,None,None,None
44,44,Bajirao Mastani,₹255.83crore,Hindi,2015,[57],None,None,None,None,None,None,None,None
45,45,Bang Bang!,₹251.43crore,Hindi,2014,[58],None,None,None,None,None,None,None,None
46,46,Bharat,₹251.27crore,Hindi,2019,[59],None,None,None,None,None,None,None,None
47,47,Mission Mangal,₹238.80crore,Hindi,2019,[60],None,None,None,None,None,None,None,None
48,48,Sooryavanshi,₹233.33crore,Hindi,2021,[61],None,None,None,None,None,None,None,None
49,49,Housefull 4,₹231.65crore,Hindi,2019,[62],None,None,None,None,None,None,None,None
50,50,K.G.F: Chapter 1,₹228crore,Kannada,2018,[63],None,None,None,None,None,None,None,None

In [2]:
Z=X.iloc[0:51,0:4]

Z.columns = Z.iloc[0]
Z=Z[1:]
Z.head()

0 Rank                         Film    Total gross Primary language(s)
1    1  Baahubali 2: The Conclusion   ₹1,429 crore         TeluguTamil
2    2             K.G.F: Chapter 2   ₹1,008 crore             Kannada
3    3                          RRR     ₹944 crore              Telugu
4    4                      Pathaan   ₹654.28crore               Hindi
5    5                       Dangal  ₹538.03 crore               Hindi

In [11]:
A= Z.groupby(Z['Primary language(s)']).count()
A

0                    Rank  Film  Total gross
Primary language(s)
English                 5     5            5
Hindi                  33    33           33
Kannada                 3     3            3
Tamil                   3     3            3
Telugu                  2     2            2
TeluguHindi             2     2            2
TeluguTamil             2     2            2

In [4]:
import re

In [13]:
S=Z.loc[Z['Primary language(s)'].str.contains('gu[a-z]*', flags=re.I , regex=1)]
S

0  Rank                         Film   Total gross Primary language(s)
1     1  Baahubali 2: The Conclusion  ₹1,429 crore         TeluguTamil
3     3                          RRR    ₹944 crore              Telugu
6     6     Baahubali: The Beginning    ₹520 crore         TeluguTamil
19   19                   Adipurush*   ₹340.5crore         TeluguHindi
21   21                        Saaho  ₹339.25crore         TeluguHindi
25   25             Pushpa: The Rise  ₹325.45crore              Telugu

In [18]:
S=Z.loc[Z['Primary language(s)'].str.contains('is[a-z]*', flags=re.I , regex=True)]
S

0  Rank                      Film    Total gross Primary language(s)
8     8  Avatar: The Way of Water   ₹484.36crore             English
11   11         Avengers: Endgame  ₹442.30 crore             English
32   32    Avengers: Infinity War   ₹296.50crore             English
40   40   Spider-Man: No Way Home    ₹263.8crore             English
43   43           The Jungle Book   ₹258.79crore             English

In [19]:
import re
import numpy as np
S['Total gross'] = S['Total gross'].apply(lambda x: re.sub(r'\(.*?\)', '', x))
S['Total gross'] = S['Total gross'].apply(lambda x: re.sub(r'crore', '', x))
S['Total gross'] = S['Total gross'].apply(lambda x: re.sub(r'₹', '', x))
S['Total gross'] = S['Total gross'].apply(lambda x: re.sub(r',', '', x))
S['Total gross'].dtype
S['Total gross'] = S['Total gross'].astype('float32')
S['Total gross']

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

8     484.359985
11    442.299988
32    296.500000
40    263.799988
43    258.790009
Name: Total gross, dtype: float32

In [20]:
S

0  Rank                      Film  Total gross Primary language(s)
8     8  Avatar: The Way of Water   484.359985             English
11   11         Avengers: Endgame   442.299988             English
32   32    Avengers: Infinity War   296.500000             English
40   40   Spider-Man: No Way Home   263.799988             English
43   43           The Jungle Book   258.790009             English

In [21]:
D=S.groupby('Primary language(s)').sum()
D

0                    Total gross
Primary language(s)
English                  1745.75

In [34]:
S1=S.loc[S['Film'].str.contains('^ave[a-z]*', flags=re.I , regex=True)]
S1.sum()

0
Rank                                                      1132
Film                   Avengers: EndgameAvengers: Infinity War
Total gross                                         738.799988
Primary language(s)                             EnglishEnglish
dtype: object